body {
	font-family: Verdana;
	min-height: 100vh;
	font-size: 14px;
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text-center {
	text-align: center;
}

h1 {
	color: #ee4444 ;
}
.content {
	margin-bottom: 25px;
}

.login {
	display: block;
	margin: 12px auto;
	height: 15px;
	padding: 5px 10px;
	border-radius: 15px;
	line-height: 0.5;
}

.login-input {
	width: 75%;
	background:#eebbcc;
	border: 2px solid #ee4444;

}

.btn-login {
	background:#ee4444 ;
	width: 150px;
	height: 28px;
	color: #441122;
	font-weight:bold;
	font-size: 16px;
	border: 1px solid #441122;

	
}

.btn-social {
	width: 25px;
	height: auto;
	border-radius: 50%;
}

.login-form-container {
	height: 75vh;
}

.logo {
	height: 25vh;
	width: 100%;
}

.img-logo {
	width: 100%;
	height: auto;
}

.border-box {
	box-sizing: border-box;
}

.links {
	color: #441122
}

@media screen and (min-width: 720px) {
  .flex-container {
    flex-direction: row;
    justify-content: center;
  }

  .logo, .login-form-container {
	width: 50%;
  }

  .logo {
	height: 100vh;
  }

  .login-input {
	width: 50%;
  }

  .login-form-container {
	height: 100%;
  }

  .img-logo {
		
  }
}